@{
    ViewData["Title"] = "Kurs Page";
}
@model IndexViewModel

<div style="margin-top: -3rem;">
    <div class="p-4">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <a asp-controller="home" asp-action="index" class="btn btn-outline-primary" style="font-size: 14px; padding: 1rem 1.5rem 0rem 1.5rem;">
                <i class='bx bx-arrow-back' style="font-size: 14px;"></i> Orqaga</a>
            <h2 style="text-align: center;">@Model.Course.Name</h2>
            <div></div>
            </div>
            <hr class="line-clamp-3"/>

            <div class="d-flex justify-content-center">
                <iframe class="py-3" width="527" height="309" src="https://www.youtube.com/embed/-7ovghuxSvo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="card shadow-sm my-3">
                <div class="card-body">
                      <p class="card-text p-3">
                          @Model.Course.ContentBody
                    </p>
                </div>
            </div>

            <h2 class="card-title" style="padding: 3rem 1rem 0 2rem;">Manbalar</h2>
            <hr class="line-clamp-3"/>

            <div class="row">
                @foreach (var item in Model.Course.Sources)
               {
                   <div class="col-md-6">
                    <div class="card shadow-sm my-3">
                        <div class="d-flex g-0">
                            <div class="col-md-4">
                                <img class="card-img-left" width="150" src="~/Learning/assets/img/elements/12.jpg" alt="Card image">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                  <h5 class="card-title">@item.FileName</h5>
                                  <p class="card-text">
                                    <a href="@item.FileLink">Download</a>
                                  </p>
                                  <p class="card-text"><small class="text-muted">@item.FileSize kb</small></p>
                                </div>          
                            </div>
                        </div>
                    </div>
                </div>
               }
            </div>
        </div>
    </div>
</div>